<div class="col-md-6 login-form-2">
  <h2>All Users</h2>
  <ul class="heroes">
    <li *ngFor="let user of users" (click)="displayDetails(user.username)">
      <span [(ngModel)]="user.username" name="username" ngDefaultControl>{{user.username}}</span>
    </li>
  </ul>

  <h2>{{selectedUser.username}} Details</h2>
  <ul class="heroes">
    <li><span>{{selectedUser.username}}</span></li>
    <li><span>{{selectedUser.email}}</span></li>
    <li><span>{{selectedUser.phone}}</span></li>
  </ul>
</div>